# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config CUSTOM_MPU6050
	bool "Custom MPU6050 sensor"
	default y
	depends on DT_HAS_ZEPHYR_CUSTOM_MPU6050_ENABLED
	select I2C
	help
	  Enable custom MPU6050 driver
